
body {
  background-image: url("/static/img/cactus2.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: auto;
  position:relative;
 }
/* Try to figure out a way to fixed the height from the bottom */
#logo {
  border-radius:50%;
}


/* ==== HOMEPAGE ==== */
#search_form {
  background-color:rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

#slider {
  display:block;
  margin:auto;
}

#month-bootstrap {
  display:block;
  margin:auto;
  width:50%
}

#search-button {
  background-color: #3f51b5;
}

.results {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Search result styling */
.continent-name {
  background-color: rgba(63, 81, 181, 0.9);
  color: white;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 3px;
  margin-top:0.25rem
}

.country-name {
  color:rgba(63, 81, 181, 1);
  font-weight: bold;
}

#no-result{
  color:rgba(63, 81, 181, 1);
  font-weight: bold;
  font-style: italic;
}

.side-notes {
  color: #6c757d;
  opacity: 80%;
  font-style: italic;
  margin-bottom: 0.25rem;
}

/* ==== MAPS ==== */
#map {
  border-radius: 5px;
  padding-bottom: 10px;
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/* ==== ABOUT PAGE ==== */
.paragraph {
  text-align: left;
}

.intro {
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.5);
}

/* ==== SAVE-PLANET PAGE ==== */
/* Override bootstrap card classes */
.card-body{
  border-top: 1px solid rgba(0,0,0,.125);
  padding-bottom: 0.5rem;
}

.card-footer {
  background-color: transparent;
  border-top: none;
  padding-top: 0.25rem;
}