.body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

.container {
  display:block;
  margin: auto;
}
/* #month {
  width: 100px;
  display: block;
  margin: auto;
} */

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
