{% extends 'base.html' %}

{% block title %}Homepage{% endblock %} 

{% block jshead %}
<!-- JSX file to render the homepage -->
<script src="/static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<container>
    <!-- Mount the react component to display the search result -->
    <div id="search_results"></div>
    <!-- Testing React -->
    <div id="test"></div>
</container>
{% endblock %}


{% block jsbody %}
<!-- <script src="/static/js/ajax.js"></script> -->
{% endblock %}