{% extends 'base.html' %}

{% block title %}Homepage{% endblock %} 

{% block jshead %}
<!-- JSX file to render the homepage -->
<script src="/static/js/homepage.jsx" type="text/jsx"></script>

<!-- Material-UI's installation https://v3.material-ui.com/getting-started/installation/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.11.0/styles/makeStyles.min.js" 
integrity="sha512-Da0rVdoCS9GbIiOv19rZaLjmyPMy1LZpu/YQDgiOwZ9/e3iRBg8o8dcn7mrItUwXPaiW3vMYsfPZT6XCnK/7bQ==" 
crossorigin="anonymous"></script>

<!-- Load the default Roboto font for Material-UI -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

<!-- Responsive meta tag for Material-UI  -->
<meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width"
/>
{% endblock %}


{% block body %}

<!-- Mount the react component to display the search result -->
<div id="search_results"></div>
<!-- Testing React -->
<div id="test"></div>


{% endblock %}


{% block jsbody %}
<!-- <script src="/static/js/ajax.js"></script> -->
{% endblock %}