<!DOCTYPE html>
<html id="toppage">
<head>
  <!-- Browser, by default, requests a "favicon.ico" file from your webserver
  it determines the icon displayed in the browser tab next to the website title.
  Insert the below tag to tell the browser if there is no favicon.ico, don't try requesting. -->
  <link rel="icon" href="data:,">

  <!-- Load React dependencies on all pages for this app from trading card lab -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  
  <!-- React router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js" 
  integrity="sha512-NG4Cm3Ubs7d/nPyzrTFM53RP8tPjQhRT0hea48yJ/qEXsuhq7wGbjX68A5gBiW6BoCQbqE3/M+UOj2lLXPauhw==" 
  crossorigin="anonymous"></script>

  <!-- SliderRange -->
  <script src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.production.min.js" crossorigin="anonymous"></script>
  
  <!-- Fonts to support Material Design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <!-- Icons to support Material Design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PN734ZL');</script>
  <!-- End Google Tag Manager -->


  <!-- https://react-bootstrap.github.io/getting-started/introduction/ -->
  <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
  
  <!-- HOMEPAGE -->
  <script src="/static/js/Slider.jsx" type="text/jsx"></script>
  <script src="/static/js/homepage.jsx" type="text/jsx"></script>
  <script src="/static/js/Continent.jsx" type="text/jsx"></script>
  <script src="/static/js/Country.jsx" type="text/jsx"></script>
  <script src="/static/js/City.jsx" type="text/jsx"></script>
  
  <!-- MAPS / FAVORITES-->
  <script src="/static/js/favorites.jsx" type="text/jsx"></script>
  <script src="/static/js/maps.jsx" type="text/jsx"></script>
  
  <!-- GOOGLE MAPS API CALL -->
  <!-- The defer attribute is a boolean attribute. It specifies that the script is executed when the page has finished parsing. -->
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0U4k3HBpsTD9IkMfDSo-rALB5sKyVoY4&libraries=&v=weekly"
  defer
  ></script>


  <!-- ABOUT -->
  <script src="/static/js/about.jsx" type="text/jsx"></script>
  
  <!-- SAVE THE PLANET -->
  <script src="/static/js/saveplanet.jsx" type="text/jsx"></script>
  
  <!-- NAVBAR / MAIN -->
  <script src="/static/js/main.jsx" type="text/jsx"></script>



  <!-- Bootstrap CSS from getbootstrap.com or https://react-bootstrap.github.io/getting-started/introduction/ -->
  <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"/>
  
  <!-- Custom styles after bootstrap -->
  <link rel="stylesheet" href="/static/css/site.css" >

  <!-- Font Awesome for icons -->
  <script src="https://kit.fontawesome.com/d72228e1d3.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&family=Montserrat:wght@500&display=swap" rel="stylesheet">


</head>


<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PN734ZL"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
 <div id="navigation"></div>

</body>

</html>
