{% extends 'base.html' %}

{% block title %}Maps{% endblock %} 

{% block jshead %}
<!-- The defer attribute is a boolean attribute. It specifies that the script is executed when the page has finished parsing. -->
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0U4k3HBpsTD9IkMfDSo-rALB5sKyVoY4&callback=initMap"
    defer
></script>

<script src="./static/js/index.js"></script>

{% endblock %}

{% block body %}
<h3>My Google Maps Demo</h3>
    <!-- The div element for the map -->
    <div id="map"></div>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0U4k3HBpsTD9IkMfDSo-rALB5sKyVoY4&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    
    <script src="./static/js/index.js"></script>
  </head>
  <body>
      
    <h3>My Google Maps Demo</h3>
    The div element for the map
    <div id="map"></div>

    <link href="/static/css/site.css" rel="stylesheet">
  </body>
</html> -->